workSans = WorkSans, sans-serif
ptSans = PTSans, sans-serif

@font-face
	font-family 'WorkSans'
	src local('Work Sans'),
		local('Work Sans-Regular'),
		url('../fonts/WorkSans-Regular.woff') format('woff'),
		url('../fonts/WorkSans-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal
	
@font-face
	font-family 'PTSans'
	src local('PT Sans'),
		url('../fonts/PTSans.woff') format('woff')
	font-weight 400
	font-style normal
